body {
    margin: 0;
    padding: 0;
    font-family: 'Arial, sans-serif';
}

.grey-background {
    background-color: #525252;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

.blue-box {
    background-color: #007bff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    height: 100%;
    box-sizing: border-box;
}

.white-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 50%;
}

.center-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card-content {
    font-size: 16px;
    color: #333;
}

.card-content h2 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.card-content p {
    margin: 10px 0;
}
