body {
    margin: 0;
    padding: 0;
    font-family: 'Arial, sans-serif';
}

.grey-background {
    background-color: #525252;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

.blue-box {
    background-color: #007bff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    height: 100%;
    box-sizing: border-box;
}

.white-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 50%;
}

.center-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card-content {
    font-size: 16px;
    color: #333;
}

.card-content h2 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.card-content p {
    margin: 10px 0;
}




/* new  */


.main {
    height: auto;
    width: 100%;
    padding: 20px 0;
    display: flex ;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.main_1 {
    background-image: url('./image/p1.png');    
    height: auto;
    width: 900px;

}

.img_container {
    display: flex;
    justify-content: flex-end;

}

.img_container img {
    width: 100px;
    margin: 40px 55px 0 0;
}

.second_one {
    background-color: white;
    height: 700px;
    width: 600px;
    margin: auto;
    margin-top: 7rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second_one h1 {
    font-size: 4rem;
    font-weight: 800;
}


.second_one img {
    width: 200px;
    margin: -20px 0 0 5px;
}

.second_one .main_slogan {
    font-size: 20px;
    font-weight: bold;
}


.second_one .sub_slogan {
    font-size: 27px;
    font-weight: bold;
    color: #eb1e87;
    margin-top: -14px;
}

.third_one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.details_1 {
    line-height: 10px;
}

.details_1 h1 {
    color: #eb1e87;
    margin-bottom: 2rem;
}

.details_1 p {
    font-size: 18px;
    font-weight: bold;
}

.details_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details_2 img {
    width: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}